Repositório da API: https://github.com/digitalinnovationone/santander-dev-week-2023-api

In [1]:
import pandas as pd

In [ ]:
sdw2023_api_url = 'https://sdw-2023-prd.up.railway.app'

### Extract

In [2]:
data = pd.read_json('SDW2023.json')

In [3]:
data

,id,name,account,card,features,news
0,1187,Bart,"{'id': 1258, 'number': '5562-2', 'agency': '00...","{'id': 1158, 'number': '**** **** **** 6262', ...","[{'id': 407, 'icon': 'string', 'description': ...","[{'id': 2574, 'icon': 'string', 'description':..."
1,1213,leonardo fogaca,"{'id': 1279, 'number': '00857-1', 'agency': '0...","{'id': 1177, 'number': '**** **** **** 8748', ...",[],[]
2,1231,Devweekerson,"{'id': 1297, 'number': '323232-32', 'agency': ...","{'id': 1195, 'number': 'xxxx xxxx xxxx 3232', ...",[],[]
3,1232,Sexson,"{'id': 1298, 'number': '33333-33', 'agency': '...","{'id': 1196, 'number': 'xxxx xxxx xxxx 3333', ...",[],[]
4,1244,Joao,"{'id': 1310, 'number': '000032-1', 'agency': '...","{'id': 1206, 'number': '**** **** **** 1312', ...",[],[]
...,...,...,...,...,...,...
1105,1288,Sherlock,"{'id': 9, 'number': '00345-1', 'agency': '0001...","{'id': 6, 'number': '0000 1234 9854 1234', 'li...","[{'id': 437, 'icon': 'string', 'description': ...","[{'id': 2674, 'icon': 'string', 'description':..."
1106,1297,Paulo,"{'id': 1331, 'number': '5565', 'agency': 'Sant...","{'id': 1234, 'number': 'xxxx xxxxx 7777', 'lim...","[{'id': 438, 'icon': 'string', 'description': ...","[{'id': 2679, 'icon': 'string', 'description':..."
1107,1298,Ricardo,"{'id': 1332, 'number': '5556', 'agency': 'Sant...","{'id': 1235, 'number': 'xxxx xxxxx 8888', 'lim...","[{'id': 439, 'icon': 'string', 'description': ...","[{'id': 2680, 'icon': 'string', 'description':..."
1108,1299,Santos,"{'id': 1333, 'number': '5555', 'agency': 'Sant...","{'id': 1236, 'number': 'xxxx xxxxx 9999', 'lim...","[{'id': 440, 'icon': 'string', 'description': ...","[{'id': 2681, 'icon': 'string', 'description':..."
1109,1300,Sir Pyterson II,"{'id': 1334, 'number': '90001-3', 'agency': '0...","{'id': 1237, 'number': '1234 4321 1357 2468', ...","[{'id': 441, 'icon': 'string', 'description': ...","[{'id': 2694, 'icon': 'string', 'description':..."

### Transform

### Load